<h1>Hello, you!</h1>

<p>This site is the playground for my coding endeavors.</p>
<p>In it you will find projects and thoughts.</p>

<ul>To Do
  <li>fix nav bar</li>
</ul>

<div id="rectangles">
  <% (1..20).each { |i| %>
    <div class="rectangle"></div>
  <%  } %>
</div>